.detail-doctor-container {


    .introduce-doctor {
        margin-top: 100px;
        display   : flex;
        padding   : 50px 100px;

        .introduce-content-left {
            border             : 1px solid red;
            height             : 180px;
            width              : 180px;
            background-position: center;
            background-size    : contain;
            background-repeat  : no-repeat;
            border-radius      : 50%;

        }

        .introduce-content-right {
            margin-left: 30px;
            flex       : 4;
        }
    }

    .content-detail-doctor {
        padding: 50px 100px;
    }
}